services:
 otel-collector:
   image: otel/opentelemetry-collector-contrib:0.135.0
   container_name: otel-collector
   ports:
     - "4317:4317" # OTLP gRPC
     - "4318:4318" # OTLP HTTP
   volumes:
     - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml:ro
   command: ["--config", "/etc/otel-collector-config.yaml"]
